# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

.yarn-integrity

yarn.lock

.env

.env.production

.env.staging

.env.test

dist 

src/graphql/types/generated-graphql-types.ts

storage

nodemon.json

package-lock.json

src/__test__/graphql/sdk.*